<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/delete.css">
    <link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
<div class="container">
        <h1>this page is delete page</h1>

    <form action="{%url '/delete' %}" method="POST" class="sc1">
        <div class="box">
            <h2>delete chefs by input their cno</h2>
            <label>
                <span>chefs number</span>
                <input id="chef_cno" name='cno' type="text" placeholder="please input cno"/>
            </label>
            <label>
                <input type="submit" name='delete_cno' class="text" value="submit"/>
            </label>
            <br>
        </div>
    {% csrf_token %}
    </form>
    <form action="{%url '/delete' %}" method="POST" class="sc1">
        <div class="box">
            <h2>delete dish by input their dno</h2>
            <label>
                <span>dish number</span>
                <input id="dish_dno" name='dno' type="text" placeholder="please input dno"/>
            </label>
            <label>
                <input type="submit" name='delete_dno' class="text" value="submit"/>
            </label>
            <br>
        </div>
    {% csrf_token %}
    </form>
    <a href="http://127.0.0.1:8000/chefs/">
        <button>
        click me to back homepage
        </button>
    </a>
</div>

</body>

</html>