<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="../../static/css/insert.css">
    <link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
<div class="container">
    <h1>This is a page to insert chef or dish information</h1>
    <form action="{% url '/insert' %}" method="POST" class="chef">
        <!--action参数传到对应的url地址，method为post时是提交
        后段根据name提取数据
        -->
        <div class='box'>

            <h2>insert student and course information</h2>
            <label>
                <span>chef number</span>
                <input id="cno" name='chef_cno' type="number" placeholder="please input cno"/>
            </label><!--后端通过名识别提交-->
            <br>
            <label>
                <span>description</span>
                <input id="chef_description" name='chef_description' type="text" placeholder="please input description"/>
            </label>
            <br>
            <label>
                <span>credit</span>
                <input id="salary" name="chef_salary" type="number" placeholder="please input salary"/>
            </label>
            <br>
            <label>
                <input type="submit" class="text" value="submit"/>
            </label>
            <br>
        </div>
    {% csrf_token %}<!--django中必须按字段-->
    </form>
    <form action="{%url '/insert' %}" method="POST" class="">
        <div class="box">
            <!--input your code-->
            <h2>insert dish's information</h2>

        {% csrf_token %}<!--django中必须按字段-->
        <label>
                <span>dish number</span>
                <input id="dno" name='dish_dno' type="number" placeholder="please input dno"/>
            </label><!--后端通过名识别提交-->
            <br>
            <label>
                <span>description</span>
                <input id="dish_description" name='dish_description' type="text" placeholder="please input description"/>
            </label>
            <br>
            <label>
                <span>credit</span>
                <input id="price" name="dish_price" type="number" placeholder="please input price"/>
            </label>
            <br>
            <label>
                <input type="submit" class="text" value="submit"/>
            </label>
            <br>
        </div>
    </form>

    <a href="http://127.0.0.1:8000/chefs/">
        click me to back homepage
    </a>
</div>
</body>
</html>