<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>menu</title>
        <link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
    <div class="container ">
        <div class="box" style="text-align: center">
            <h1>Welcome to online restaurant kitchen，and you are boss</h1>
            <p>insert chefs or dishes click here</p>
            <a href="http://127.0.0.1:8000/chefs//insert">
                <!--本连接只实现厨师和餐品信息的插入-->
                    click me to insert_page
            </a>
            <p>delete chefs or dishes click here</p>
            <a href="http://127.0.0.1:8000/chefs//delete">
                <!--本连接只实现厨师和餐品信息的删除-->
                    click me to delete_page
            </a>
            <p>alert chefs or dishes click here</p>
            <a href="http://127.0.0.1:8000/chefs//alert">
                <!--本连接只实现厨师和餐品信息修改-->
                    click me to alert_page
            </a>
            <p>select chefs or dishes click here</p>
            <a href="http://127.0.0.1:8000/chefs//select">
                <!--本连接只实现厨师和餐品信息的查询，修改超链接到对应网站-->
                    click me to select_page
            </a>
            <p>select chefs or dishes click here</p>
            <a href="http://127.0.0.1:8000/chefs//grab">
                <!--本连接只实现厨师和餐品信息的，修改超链接到对应网站-->
                    click me to select_page
            </a>
        </div>
    </div>

</body>
</html>